.cd-nav-trigger {
    display: block;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 5%;
}

.cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    transform: scale(0);
    transform-origin: right bottom;
    transition: transform 0.2s;
}
.cd-vertical-nav.open {
    transform: scale(1);
}
@media only screen and (min-width: 800px) {
    .cd-vertical-nav {
        right: 0;
        top: 0;
        height: 100vh;
        width: 90px;
    }
    .cd-vertical-nav::before {
        /* this is the navigation background */
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        transform: translateX(100%);
        transition: transform 0.4s;
    }
    .no-touch .cd-vertical-nav:hover::before,
    .touch .cd-vertical-nav::before {
        transform: translateX(0);
    }
    .cd-vertical-nav .label {
        display: block;
        transform: translateX(100%);
        transition: transform 0.4s;
    }
    .no-touch .cd-vertical-nav:hover .label,
    .touch .cd-vertical-nav .label {
        transform: translateX(0);
    }
}
@media only screen and (min-width: 800px) {
    .cd-vertical-nav a {
        position: relative;
        padding: 3em 0 0;
        margin: 1.4em auto;
    }
    .cd-vertical-nav a::before,
    .cd-vertical-nav a::after {
        /* used to create the filled circle and the background icon */
        content: '';
        position: absolute;
        left: 50%;
        transition: transform 0.4s 0s;
    }
    .cd-vertical-nav a::before {
        /* filled circle */
        top: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: #eaf2e3;
        transform: translateX(-50%) scale(0.25);
    }
    .cd-vertical-nav a::after {
        /* icon */
        top: 8px;
        height: 16px;
        width: 16px;
        background: url(../img/cd-nav-icons.svg) no-repeat;
        transform: translateX(-50%) scale(0);
    }
    .no-touch .cd-vertical-nav:hover a::before,
    .no-touch .cd-vertical-nav:hover a::after,
    .touch .cd-vertical-nav li:nth-of-type(n) a::before,
    .touch .cd-vertical-nav li:nth-of-type(n) a::after {
        transform: translateX(-50%) scale(1);
    }
}
.cd-vertical-nav li:nth-of-type(2) a::after {
    transform: translateX(-50%) translateY(1.5em) scale(0);
}
.cd-vertical-nav li:nth-of-type(2) a::before {
    transform: translateX(-50%) translateY(1.5em) scale(0.25);
}
.cd-vertical-nav li:nth-of-type(3) a::after {
    transform: translateX(-50%) translateY(-1.5em) scale(0);
}
.cd-vertical-nav li:nth-of-type(3) a::before {
    transform: translateX(-50%) translateY(-1.5em) scale(0.25);
}
.cd-vertical-nav li:first-of-type a::after {
    transform: translateX(-50%) translateY(4.5em) scale(0);
}
.cd-vertical-nav li:first-of-type a::before {
    transform: translateX(-50%) translateY(4.5em) scale(0.25);
}
.cd-vertical-nav li:nth-of-type(4) a::after {
    transform: translateX(-50%) translateY(-4.5em) scale(0);
}
.cd-vertical-nav li:nth-of-type(4) a::before {
    transform: translateX(-50%) translateY(-4.5em) scale(0.25);
}